/*========================================================================================================
================================ Header Scss ===================================================================
===========================================================================================================*/
header,
section,
footer {
  @include full-width;
}

section {
  padding: 150px 0;

  @media (max-width: 1024px) {
    padding: 80px 0;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  @media (max-width: 500px) {
    padding: 30px 0;
  }
}

.container {
  &-fluid {
    padding-left: 80px;
    padding-right: 80px;

    @media (max-width: 1366px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 1199px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &-custom {
    max-width: 1640px;
    margin: 0 auto;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 40px 0;
  transition: .5s;

  @media (max-width: 991px) {
    padding: 15px 0;
  }

  &.sticky {
    padding: 15px 0;
  }

  &-full {
    .row {
      align-items: center;

      .col {}

      .col-lg-7.col-sm-12 {
        @media (max-width: 991px) {
          order: 3;
        }
      }

      .cutsom-btn {
        @media (max-width: 991px) {
          margin-right: 50px;
        }

        @media (max-width: 500px) {
          margin-right: 40px;
          padding: 6px 15px;
        }
      }
    }
  }

  .navbar {
    padding: 0;

    @media (max-width: 991px) {
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    .navbar-toggler {
      color: $red;
      position: absolute;
      outline: none;
      box-shadow: none;
      z-index: 99;
    }

  }
}

.logo {
  a {
    img {
      transition: width .5s;

      @media (max-width: 500px) {
        width: 180px;
      }
    }
  }
}

.sticky {
  .logo {
    a {
      img {
        width: 180px;
      }
    }
  }
}

.menu {
  justify-content: flex-end;
  margin-right: 30px;

  @media (max-width: 991px) {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #f4f4f4;
    z-index: 9;
    height: 100vh;
    padding: 0;
    width: 0;
    box-shadow: -15px 0px 17px -7px rgba(0, 0, 0, 0.3);
    transition: .5s;
    display: block !important;
    opacity: 0;
    overflow-x: hidden;
    margin-right: 0;

    &.show {
      width: 250px;
      padding: 55px 25px 25px;
      opacity: 1;
    }
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
      justify-content: flex-start;
      align-items: baseline;
    }

    li {
      display: inline-block;

      @media (max-width: 991px) {
        display: block;
        width: 100%;
      }

      &.active {
        a {
          color: $red;
        }
      }

      a {
        font-size: 1.5rem;
        color: $lgtblack;
        display: block;
        padding: 0 20px;

        @media (max-width: 1280px) {
          font-size: 1.25rem;
        }

        @media (max-width: 1024px) {
          padding: 0 15px;
        }

        @media (max-width: 991px) {
          padding: 10px 0;
          border-bottom: 1px solid #e5e5e5;
          display: block;
          width: 100%;
        }

        &:hover {
          color: $red;
        }
      }
    }
  }

  &Sticky {
    li {
      a {
        font-size: 1.25rem;
      }
    }
  }
}

.cutsom-btn {
  color: $white;
  background-color: $red;
  display: inline-block;
  padding: 13px 40px;
  border-radius: 40px;
  line-height: 30px;
  border: 1px solid $red;
  white-space: nowrap;

  @media (max-width: 1280px) {
    padding: 10px 30px;
    line-height: 1.4;
  }

  &.hover {
    color: $lgtblack;
    background-color: transparent;
    border-color: $lgtblack;

    &:hover {
      color: $white;
      background-color: $red;
      border-color: $red;
    }
  }

  &:hover {
    color: $lgtblack;
    background-color: transparent;
    border-color: $lgtblack;
  }



  i {
    margin-left: 10px;
  }
}

.sticky {
  .cutsom-btn {
    padding: 6px 25px;
    font-size: 1rem;
  }
}

.footer {
  padding-top: 60px;

  @media (max-width: 767px) {
    text-align: center;
  }

  &-logo {
    margin-bottom: 40px;

    a {
      display: inline-block;

      img {
        width: 198px;
      }
    }
  }

  .membership {
    justify-content: center;
    text-align: center;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background: #f5f5f5;

    .footer-menu {
      margin-bottom: 0;

      ul {
        li {
          margin-bottom: 0;
        }
      }
    }

    h3 {
      margin-bottom: 25px;
    }
  }

  &-menu {
    margin-bottom: 30px;

    h3 {
      color: $lgtblack;
      margin-bottom: 15px;
      @include barlow(medium);
    }

    ul {
      li {
        color: $lgtblack;
        display: block;
        margin-bottom: 12px;

        &.address {
          line-height: 2;
          margin-top: -7px;
          margin-bottom: 7px;
        }

        a {
          color: $lgtblack;
          display: block;

          @media (max-width: 768px) {
            margin-bottom: 5px;
            border-bottom: 1px solid $lgray;
            padding-bottom: 5px;
          }

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}

.mb-60 {
  margin-bottom: 60px;

  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }
}

.social-icon {
  text-align: center;
  margin-bottom: 30px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    @media (max-width: 767px) {
      gap: 20px;
    }

    @media (max-width: 500px) {
      gap: 15px;
    }

    @media (max-width: 320px) {
      gap: 10px;
    }

    li {
      a {
        font-size: 1rem;
        display: block;
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $red;
        color: $white;
        @include border-radius(100%);

        &:hover {
          background-color: $lgtblack;
          color: $white;
        }
      }
    }
  }
}

.sm-menu {
  text-align: center;
  margin-bottom: 20px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    li {
      a {
        font-size: 1rem;
        color: $lgtblack;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.copyright {
  text-align: center;

  p {
    font-size: 1rem;
    color: $lgtblack;
  }
}