.slider {
    padding: 0;

    &-home,
    &-banner {
        .item {
            position: relative;
            height: 90vh;
            @include border-radius(22px);
            overflow: hidden;

            @media (max-width: 768px) {
                height: 50vh;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: transparent;
                /* For browsers that do not support gradients */
                background-image: linear-gradient(to right, rgb(0 0 0 / 77%), transparent)
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .caption {
                // max-width: 615px;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 7.5%;
                transform: translateY(-50%);

                @media (max-width: 768px) {
                    max-width: 100%;
                }

                h1 {
                    color: $white;
                    margin-bottom: 5px;
                    letter-spacing: 1.5px;
                    line-height: 1.35;
                    @include barlow(bold);

                    @media (max-width: 768px) {
                        line-height: 1;
                        margin-bottom: 10px;
                    }
                }

                .line {
                    position: relative;
                    height: 6px;
                    background-color: $red;
                    width: 54px;
                    margin-bottom: 35px;

                    @media (max-width: 768px) {
                        margin-bottom: 15px;
                        height: 4px;
                    }
                }

                h3 {
                    color: #D1D0D0;
                    margin-bottom: 30px;
                    letter-spacing: 0.4px;
                    line-height: 1.4;
                }

                a {
                    &:hover {
                        color: $white;
                        border-color: $white;
                    }
                }
            }
        }
    }

    &-banner {
        .item {
            .caption {
                max-width: 50%;
            }
        }
    }
}

.line {
    position: relative;
    height: 6px;
    background-color: $red;
    width: 54px;
    margin-bottom: 35px;
}